.bottom-footer a {
  color: white;
}
.bottom-footer a:hover {
  color: rgb(25, 103, 210);
}
.social a {
  color: white;
}
.social a:hover {
  color: rgb(25, 103, 210);
}
.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  color: #45a29e;
}

.bottom-footer a {
  text-decoration: none;
}
.mb-3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem !important;
}

@media (max-width: 992px) {
  .bottom-footer a {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .bottom-footer a {
    margin-top: 40px;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .d-flex {
    flex-direction: column;
    margin-top: 20px;
  }
  .bottom-footer a {
    margin-top: 10px;
  }
}
